<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="gettest2" frontName="gettest2">
            <module name="Products_GetTest2" />
        </route>
    </router>
</config>