<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_SellerConsultation::consultation" title="Consultation" 
        module="Perspective_SellerConsultation" sortOrder="51" 
        resource="Perspective_SellerConsultation::consultation"/>
        <add id="Perspective_SellerConsultation::question" title="Manage Questions" 
        module="Perspective_SellerConsultation" sortOrder="10" action="perspective_questions/question/index" 
        resource="Perspective_SellerConsultation::question" parent="Perspective_SellerConsultation::consultation"/>
    </menu>
</config>