<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="perspective" translate="label" sortOrder="10">
            <label>Perspective</label>
        </tab>
        <section id="pricesdiscountconf" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Prices Discount</label>
            <tab>perspective</tab>
            <resource>Perspective_PriceDiscountCron::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="from" translate="label" type="time" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>From</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="to" translate="label" type="time" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>To</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="discount" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Discount(in %)</label>
                    <validate>required-entry validate-number</validate>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="customergroup" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer Group</label>
                    <source_model>Perspective\PriceDiscountCron\Model\Source\CustomerGroups</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="categories" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Categories</label>
                    <source_model>Perspective\PriceDiscountCron\Model\Source\Categories</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>