<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="perspective_cancelorder_cancelledorders_listing_data_source" xsi:type="string">
                Perspective\CancelOrder\Model\ResourceModel\CanceledOrder\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Perspective\CancelOrder\Model\ResourceModel\CanceledOrder\Collection" 
    type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">cancelled_orders</argument>
            <argument name="resourceModel" xsi:type="string">Perspective\CancelOrder\Model\ResourceModel\CanceledOrder</argument>
        </arguments>
    </virtualType>
</config>